html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body,
#root {
  height: 100vh;
  margin: 0;
}

body,
input,
select,
button,
textarea {
  font-size: 1.6rem;
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.grid-container {
  display: grid;
  grid-template-areas: 'header' 'main';
  grid-template-rows: 3rem 1fr;
  grid-template-columns: 1fr;
  height: 100%;
  margin: 2rem 5rem 5rem 5rem;
}

a:hover {
  color: #9695a049;
}

header {
  grid-area: header;
  display: flex;
  align-items: center;
  border-bottom: 0.15rem #c0c0c0 solid;
}

header a {
  color: #000000;
  text-decoration: none;
}

main {
  grid-area: main;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 3 60rem;
}

.sidebar {
  flex: 1 20rem;
}

/* products */
.products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
  margin: 3rem 0 3rem 0;
}

/* filter */
.filter {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin: 1rem;
  border-bottom: 0.1rem #c0c0c0 solid;
}

.filter div {
  flex: 1;
}

/* Index.css */
.cart {
  padding: 0;
  margin: 2rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
}

.cart-header {
  border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-items {
  padding: 0;
  width: 100%;
  list-style-type: none;
}

.cart-items img {
  width: 5rem;
}

.cart-items li {
  display: flex;
}

.cart-items li div {
  padding: 0.5rem;
}

.cart-items li div:last-child {
  flex: 1;
}

.right {
  text-align: right;
}

.total {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.total > div {
  font-size: 2rem;
}

.total > div,
.total > button {
  flex: 1;
}
